<!DOCTYPE html>
<html lang="en">
    <!-- Home -->

    <head>
        <%- include("./components/scripts") %>
        <title>About</title>
    </head>

    <body>
        <%- include("./components/header") %>
        <main id="about-me">
            <div class="container">
                <div id="about-me-images">
                    <img id="theo" src="/assets/theo.png" />
                    <img id="cody" src="/assets/cody2.png" />
                </div>
                <h1 class="page-title">About Me</h1>
                <p>
                    My name is Theo. I am 15 years old and I love gaming,
                    producing music, and programming! Some of my favorite video
                    games include Minecraft, ARK: Survival Evolved, Destiny 2,
                    and more. I also make tutorials on YouTube.
                </p>
                <h2 class="page-title">Programming</h3>
                <p>
                    I have been coding for about 3 years, and have worked with
                    many programming languages, such as Javascript, Typescript,
                    Python, HTML + CSS, PHP, and a little bit of C++ and
                    Assembly. Some of the frameworks I have used include
                    Angular, React, Express, MongoDB, etc. 
                </p>
                <h2 class="page-title">Social Media</h3>
                <p>
                  You can find my
                  <a
                        href="https://github.com/creepinson"
                        target="_blank"
                        rel="noopener noreferrer"
                        >GitHub here</a
                    >,
                    <a
                        href="https://gitlab.com/creepinson"
                        target="_blank"
                        rel="noopener noreferrer"
                        >my GitLab here</a
                    >,
                    <a
                    href="https://twitter.com/Creepinson101"
                    target="_blank"
                    rel="noopener noreferrer"
                    >my Twitter here</a
                    >, and
                    <a
                    href="https://youtube.com/user/CreeperVsEndermen"
                    target="_blank"
                    rel="noopener noreferrer"
                    >my YouTube videos here</a
                    >.
                </p>
            </div>
        </main>
        <%- include("./components/footer") %>
        <script src="js/index.js"></script>
    </body>
</html>
