<!DOCTYPE html>
<html lang="en">
<!-- Home -->

<head>
    <%- include("components/scripts") %>
        <title>Home</title>
</head>

<body>
    <%- include("components/header") %>
        <div class="showcase-banner"></div>

        <section id="showcase">
            <h1 class="page-title">Hello there.</h1>
            <p>
                Welcome to my website! Click on my About Me box link to learn more about me.
            </p>
        </section>

        <section id="boxes">
            <div class="box">
                <img src="/assets/creepinson101.png" />
                <!-- <img src="{{ box.iconUrl }}"> -->
                <h3>About</h3>
                <p>
                    <!-- You can find more about me and my projects
                    <a routerLink="/about">here.</a> -->
                    You can find more about me and my projects
                    <a href="/about">here.</a>
                </p>
            </div>
        </section>
        <%- include("./components/footer") %>
</body>

</html>